doctype html
html
  head
    title=title
    meta(name='description', content=description)
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=image)
    link(rel='stylesheet', href='/assets/styles/main' + (locals.minify ? '.min' : '') + '.css')
  body
    block content